
@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>
<img src ="https://sites.supportah.com.au/dscl/wp-content/uploads/sites/14/2019/02/uniofmelbourne.jpg" style = width="800"; height="400" />

<h2>Australia's leading university</h2>
<p>Our distinctive Melbourne experience helps graduates become well-rounded, thoughtful and skilled professionals – making a positive impact across the globe.

Our research helps solve social, economic and environmental challenges the world is facing today and into the future. We’re tightly connected with our communities, at home and around the globe – a connection that enriches our learning, teaching and research.</p>